snake-range_manuscript.aux
snake-range_manuscript.bbl
snake-range_manuscript.blg
snake-range_manuscript.dvi
snake-range_manuscript.fdb_latexmk
snake-range_manuscript.fff
snake-range_manuscript.lof
snake-range_manuscript.log
snake-range_manuscript.lot
snake-range_manuscript.out
snake-range_manuscript.pdf
snake-range_manuscript.ttt
